In [6]:
import ibm_db

In [18]:
# Database cua Huong Bui
info = {
  "db": "BLUDB",
  "dsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=rbq33661;PWD=1f2h-rm6r64019m7;",
  "host": "dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net",
  "hostname": "dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net",
  "https_url": "https://dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net",
  "jdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB",
  "parameters": {
    "role_crn": "crn:v1:bluemix:public:iam::::serviceRole:Manager"
  },
  "password": "1f2h-rm6r64019m7",
  "port": 50000,
  "ssldsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=rbq33661;PWD=1f2h-rm6r64019m7;Security=SSL;",
  "ssljdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50001/BLUDB:sslConnection=true;",
  "uri": "db2://rbq33661:1f2h-rm6r64019m7@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB",
  "username": "rbq33661"
}

In [10]:
# # Database cua Thay Dung
# info ={
#   "db": "BLUDB",
#   "dsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=hfm84012;PWD=1jl31qdbf3x41@m7;",
#   "host": "dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net",
#   "hostname": "dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net",
#   "https_url": "https://dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net",
#   "jdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB",
#   "parameters": {
#     "role_crn": "crn:v1:bluemix:public:iam::::serviceRole:Manager"
#   },
#   "password": "1jl31qdbf3x41@m7",
#   "port": 50000,
#   "ssldsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=hfm84012;PWD=1jl31qdbf3x41@m7;Security=SSL;",
#   "ssljdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50001/BLUDB:sslConnection=true;",
#   "uri": "db2://hfm84012:1jl31qdbf3x41%40m7@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB",
#   "username": "hfm84012"
# }

In [11]:
conn = ibm_db.connect(info['dsn'], '', '')

In [17]:
# # Database cua Thay nen ko chay sql tao bang nay
# # Neu muon chay thu thi doi info thanh Database cua Huong Bui
# sql = 'create table test (id int, name varchar(50))'
# conn = ibm_db.connect(info['dsn'], '', '')
# stmt = ibm_db.exec_immediate(conn, sql)
# print(stmt)
# ibm_db.close(conn)

<ibm_db.IBM_DBStatement object at 0x000001DE66ECB1F0>

True

In [19]:
# # Database cua Huong bui - Drop table
# sql = 'drop table test'
# conn = ibm_db.connect(info['dsn'], '', '')
# stmt = ibm_db.exec_immediate(conn, sql)
# print(stmt)
# ibm_db.close(conn)

<ibm_db.IBM_DBStatement object at 0x000001DE66ECB3B0>

True

In [25]:
# doc cac sinh vien khoa CN va in ra ma sinh vien, ho, ten, hoc bong
sql = '''select "Ma_sinh_vien", "Ho", "Ten", "Hoc_bong" 
            from SINH_VIEN where "Ma_khoa" = 'CN' 
            LIMIT 10
        '''
conn = ibm_db.connect(info['dsn'], '', '')
stmt = ibm_db.exec_immediate(conn, sql)
row = ibm_db.fetch_both(stmt)
while row:
#     print(row)
    print('Ma: ', row['Ma_sinh_vien'], '- Ho ten: ', row['Ho']+' '+row['Ten'])
    row = ibm_db.fetch_both(stmt)
ibm_db.close(conn)

Ma:  C0001 - Ho ten:  Khương Thảo Loan
Ma:  C0002 - Ho ten:  Đặng Bạch Ngọc
Ma:  C0003 - Ho ten:  Phạm Văn Minh Thiện
Ma:  C0004 - Ho ten:  Đinh Thị Thanh Dung
Ma:  C0005 - Ho ten:  Trần Mạnh Thiện
Ma:  C0006 - Ho ten:  Trần Văn Minh Hiệu
Ma:  C0007 - Ho ten:  Lê Thị Mai
Ma:  C0008 - Ho ten:  Bạch Vĩnh Tuấn
Ma:  C0009 - Ho ten:  Thái Thị Thanh Nhung
Ma:  C0010 - Ho ten:  Khương Văn Minh Trọng

True

In [26]:
# doc cac sinh vien khoa CN va in ra ma sinh vien, ho, ten, hoc bong
sql = '''select "Ma_sinh_vien", "Ho", "Ten", "Hoc_bong" 
            from SINH_VIEN where "Ma_khoa" = 'CN' 
            LIMIT 10
        '''
conn = ibm_db.connect(info['dsn'], '', '')
stmt = ibm_db.exec_immediate(conn, sql)
row = ibm_db.fetch_tuple(stmt)
while row:
    print(row)
    row = ibm_db.fetch_tuple(stmt)
ibm_db.close(conn)

('C0001', 'Khương Thảo', 'Loan', 2000000)
('C0002', 'Đặng Bạch', 'Ngọc', 0)
('C0003', 'Phạm Văn Minh', 'Thiện', 0)
('C0004', 'Đinh Thị Thanh', 'Dung', 1000000)
('C0005', 'Trần Mạnh', 'Thiện', 1000000)
('C0006', 'Trần Văn Minh', 'Hiệu', 1000000)
('C0007', 'Lê Thị', 'Mai', 2000000)
('C0008', 'Bạch Vĩnh', 'Tuấn', 1000000)
('C0009', 'Thái Thị Thanh', 'Nhung', 0)
('C0010', 'Khương Văn Minh', 'Trọng', 2000000)

True

In [27]:
# doc cac sinh vien khoa CN va in ra ma sinh vien, ho, ten, hoc bong
sql = '''select "Ma_sinh_vien", "Ho", "Ten", "Hoc_bong" 
            from SINH_VIEN where "Ma_khoa" = 'CN' 
            LIMIT 10
        '''
conn = ibm_db.connect(info['dsn'], '', '')
stmt = ibm_db.exec_immediate(conn, sql)
row = ibm_db.fetch_assoc(stmt)
while row:
    print(row)
    row = ibm_db.fetch_assoc(stmt)
ibm_db.close(conn)

{'Ma_sinh_vien': 'C0001', 'Ho': 'Khương Thảo', 'Ten': 'Loan', 'Hoc_bong': 2000000}
{'Ma_sinh_vien': 'C0002', 'Ho': 'Đặng Bạch', 'Ten': 'Ngọc', 'Hoc_bong': 0}
{'Ma_sinh_vien': 'C0003', 'Ho': 'Phạm Văn Minh', 'Ten': 'Thiện', 'Hoc_bong': 0}
{'Ma_sinh_vien': 'C0004', 'Ho': 'Đinh Thị Thanh', 'Ten': 'Dung', 'Hoc_bong': 1000000}
{'Ma_sinh_vien': 'C0005', 'Ho': 'Trần Mạnh', 'Ten': 'Thiện', 'Hoc_bong': 1000000}
{'Ma_sinh_vien': 'C0006', 'Ho': 'Trần Văn Minh', 'Ten': 'Hiệu', 'Hoc_bong': 1000000}
{'Ma_sinh_vien': 'C0007', 'Ho': 'Lê Thị', 'Ten': 'Mai', 'Hoc_bong': 2000000}
{'Ma_sinh_vien': 'C0008', 'Ho': 'Bạch Vĩnh', 'Ten': 'Tuấn', 'Hoc_bong': 1000000}
{'Ma_sinh_vien': 'C0009', 'Ho': 'Thái Thị Thanh', 'Ten': 'Nhung', 'Hoc_bong': 0}
{'Ma_sinh_vien': 'C0010', 'Ho': 'Khương Văn Minh', 'Ten': 'Trọng', 'Hoc_bong': 2000000}

True

In [40]:
#Liệt kê các nhân viên (bảng Employees) là các nhân viên của phòng 90 và có lương > 10000
sql = """select * from employees where department_id = ? and salary > ?
    """ # --> cau query khong can dung double quotes cho ten cot

department = 90
salary = 17000

conn = ibm_db.connect(info['dsn'], '', '')
stmt = ibm_db.prepare(conn, sql)

ibm_db.bind_param(stmt, 1, department)
ibm_db.bind_param(stmt, 2, salary)
# ibm_db.bind_param(stmt, 1, 90)
# ibm_db.bind_param(stmt, 2, 17000)
ibm_db.execute(stmt)

row = ibm_db.fetch_assoc(stmt)
while row:
    print(row)
    row = ibm_db.fetch_assoc(stmt)
ibm_db.close(conn)

{'EMPLOYEE_ID': 100, 'FIRST_NAME': 'Steven', 'LAST_NAME': 'King', 'EMAIL': 'SKING', 'PHONE_NUMBER': '515.123.4567', 'HIRE_DATE': datetime.datetime(2003, 6, 17, 0, 0), 'JOB_ID': 'AD_PRES', 'SALARY': '24000.00', 'COMMISSION_PCT': None, 'MANAGER_ID': None, 'DEPARTMENT_ID': 90}

True

In [43]:
def show_emp(depid, sal):
    
    sql = """select * from employees where department_id = ? and salary > ?
    """ # --> cau query khong can dung double quotes cho ten cot

    conn = ibm_db.connect(info['dsn'], '', '')
    stmt = ibm_db.prepare(conn, sql)

    ibm_db.bind_param(stmt, 1, depid)
    ibm_db.bind_param(stmt, 2, sal)
    # ibm_db.bind_param(stmt, 1, 90)
    # ibm_db.bind_param(stmt, 2, 17000)
    ibm_db.execute(stmt)

    row = ibm_db.fetch_assoc(stmt)
    while row:
        print(row)
        row = ibm_db.fetch_assoc(stmt)
    ibm_db.close(conn)

In [44]:
show_emp(50,5000)

{'EMPLOYEE_ID': 120, 'FIRST_NAME': 'Matthew', 'LAST_NAME': 'Weiss', 'EMAIL': 'MWEISS', 'PHONE_NUMBER': '650.123.1234', 'HIRE_DATE': datetime.datetime(2004, 7, 18, 0, 0), 'JOB_ID': 'ST_MAN', 'SALARY': '8000.00', 'COMMISSION_PCT': None, 'MANAGER_ID': 100, 'DEPARTMENT_ID': 50}
{'EMPLOYEE_ID': 121, 'FIRST_NAME': 'Adam', 'LAST_NAME': 'Fripp', 'EMAIL': 'AFRIPP', 'PHONE_NUMBER': '650.123.2234', 'HIRE_DATE': datetime.datetime(2005, 4, 10, 0, 0), 'JOB_ID': 'ST_MAN', 'SALARY': '8200.00', 'COMMISSION_PCT': None, 'MANAGER_ID': 100, 'DEPARTMENT_ID': 50}
{'EMPLOYEE_ID': 122, 'FIRST_NAME': 'Payam', 'LAST_NAME': 'Kaufling', 'EMAIL': 'PKAUFLIN', 'PHONE_NUMBER': '650.123.3234', 'HIRE_DATE': datetime.datetime(2003, 5, 1, 0, 0), 'JOB_ID': 'ST_MAN', 'SALARY': '7900.00', 'COMMISSION_PCT': None, 'MANAGER_ID': 100, 'DEPARTMENT_ID': 50}
{'EMPLOYEE_ID': 123, 'FIRST_NAME': 'Shanta', 'LAST_NAME': 'Vollman', 'EMAIL': 'SVOLLMAN', 'PHONE_NUMBER': '650.123.4234', 'HIRE_DATE': datetime.datetime(2005, 10, 10, 0, 0), 'JOB_ID': 'ST_MAN', 'SALARY': '6500.00', 'COMMISSION_PCT': None, 'MANAGER_ID': 100, 'DEPARTMENT_ID': 50}
{'EMPLOYEE_ID': 124, 'FIRST_NAME': 'Kevin', 'LAST_NAME': 'Mourgos', 'EMAIL': 'KMOURGOS', 'PHONE_NUMBER': '650.123.5234', 'HIRE_DATE': datetime.datetime(2007, 11, 16, 0, 0), 'JOB_ID': 'ST_MAN', 'SALARY': '5800.00', 'COMMISSION_PCT': None, 'MANAGER_ID': 100, 'DEPARTMENT_ID': 50}