## Chapter 4 – Exercise 4:  Sử dụng Mysql Connector để thực hiện các truy vấn có tham số

#### Học viên thực hiện các yêu cầu sau và đối chiếu với kết quả cho trước (nếu có):

In [17]:
from mysql.connector import connect

In [18]:
conn = connect(host='localhost', port=3306, database='salesdb', user='root', password='')

In [19]:
def run_sql(sql, data):
    # code here
    cur = conn.cursor()
    cur.execute(sql, data)
    row = cur.fetchone()
    while row:
        print(row)
        row = cur.fetchone()

In [34]:
# Câu 1: Liệt kê danh sách các sản phẩm do công ty 'Tokyo Traders' cung cấp, với tham số tên công ty do người dùng nhập vào
name = (input("Nhập tên nhà cung cấp: "))
data = (name,)
sql = ''' select p.*, s.companyname
            from products p 
            left join suppliers s on s.id = p.supplierid
            where s.companyname = %s
        '''
cur = conn.cursor()
cur.execute(sql, data)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Nhập tên nhà cung cấp: Tokyo Traders
(9, 'Mishi Kobe Niku', 4, Decimal('97'), '18 - 500 g pkgs.', 1, 'Tokyo Traders')
(10, 'Ikura', 4, Decimal('31'), '12 - 200 ml jars', 0, 'Tokyo Traders')
(74, 'Longlife Tofu', 4, Decimal('10'), '5 kg pkg.', 0, 'Tokyo Traders')

<details>
  <summary>Nhấn vào đây để xem kết quả!</summary>
  <pre>Nhập tên nhà cung cấp: Tokyo Traders
(9, 'Mishi Kobe Niku', 4, Decimal('97.00'), '18 - 500 g pkgs.', 1, 'Tokyo Traders')
(10, 'Ikura', 4, Decimal('31.00'), '12 - 200 ml jars', 0, 'Tokyo Traders')
(74, 'Longlife Tofu', 4, Decimal('10.00'), '5 kg pkg.', 0, 'Tokyo Traders')
</pre>
  
</details>

In [41]:
# Câu 2: Cập nhật đơn giá tăng thêm 3usd cho các sản phẩm do công ty 'Tokyo Traders' cung cấp, 
# với tham số đơn giá tăng và tên công ty do người dùng nhập vào
name = (input("Nhập tên nhà cung cấp: "))
data = (name,)
sql = ''' update products p 
            left join suppliers s on s.id = p.supplierid
            set p.UnitPrice = p.UnitPrice + 3
            where s.companyname = %s
        '''
cur = conn.cursor()
cur.execute(sql, data)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Nhập tên nhà cung cấp: Tokyo Traders

<details>
  <summary>Nhấn vào đây để xem kết quả!</summary>
  <pre>Nhập giá trị đơn giá tăng thêm: 3
Nhập tên nhà cung cấp: Tokyo Traders
</pre>
  
</details>

In [22]:
# Câu 3: Thêm sản phẩm mới vào bảng Products với các giá trị tương ứng do người dùng nhập vào. 
# Sau khi thêm, xuất thông báo hỏi người dùng có thêm tiếp hay không (Y/N). 
# Nếu trả lời Y sẽ cho phép thêm tiếp sản phẩm mới, nếu trả lời N sẽ thoát quá trình thêm sản phẩm.

traloi = "Y"
while traloi=="Y":
    pname = input("Nhập tên sản phẩm: ")
    supplierid = input("Nhập mã nhà cung cấp: ")
    unitprice = input("Nhập đơn giá: ")
    package = input("Nhập hình thức đóng gói: ")
    isdiscontinued = input("Sản phẩm đã ngừng bán rồi? [Để trống nếu chưa ngừng bán]: ")
    data = (pname, sname, unitprice, package, isdiscontinued)

    sql = ''' insert into products (productname, supplierid, unitprice, package, isdiscontinued)
                value (%s,%s,%s,%s,%s)
        '''
    cur = conn.cursor()
    cur.execute(sql, data)
    sql = ''' select * from products where productname = %s '''
    data = (pname,)
    cur.execute(sql, data)
    row = cur.fetchone()
    while row:
        print(row)
        row = cur.fetchone()
    
    traloi = input("Bạn có muốn tiếp tục? [Y/N]: ").upper()
    if traloi == "N": break

Nhập tên sản phẩm: d
Nhập mã nhà cung cấp: 5
Nhập đơn giá: 6
Nhập hình thức đóng gói: d
Sản phẩm đã ngừng bán rồi? [Để trống nếu chưa ngừng bán]:
(83, 'd', 0, Decimal('6'), 'd', 0)
(82, 'd', 0, Decimal('4'), 'd', 0)
Bạn có muốn tiếp tục? [Y/N]: n

In [28]:
# Câu 4: Xóa thông tin đơn đặt hàng theo số đặt hàng (OrderId), trong đó số đặt hàng do người dùng nhập vào
orderid = input("Nhập OrderID cần xoá: ")
data = (orderid,)
sql = '''delete from orders where id = %s'''
cur.execute(sql, data)
sql = '''select * from orders where id = %s'''
cur.execute(sql, data)
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()
print("Đã xoá thành công.")

Nhập OrderID cần xoá: 834
Đã xoá thành công.

In [1]:
conn.close()

NameError: name 'conn' is not defined