In [1]:
from mysql.connector import connect

In [2]:
# tạo connection
# tạo cursur de thuc hien cau truy van
# doc va xu ly ket qua tra ve
# dong cursor, dong connection

In [3]:
# Buoc 1: Tao connection
# chuan bi thong tin ket noi
server = 'phpmyadmin.laptrinhphp.net'
db = 'gd_salesdb'
username = 'hv'
pwd = '123456'

conn = connect(host=server, database=db, user=username, password=pwd)

In [4]:
# Buoc 2: Tao cursor de thuc hien cau truy van
sql = '''
select i.ProductId, p.ProductName , sum(Quantity) as So_luong
from orderitems i 
left join products p on p.id=i.ProductId
left join orders o on o.id=i.orderid
where Year(o.orderdate)=2014
group by i.ProductId, p.ProductName
order by So_luong DESC
limit 10
'''

cur = conn.cursor()
cur.execute(sql)

In [5]:
# Buoc 3: doc va xu ly ket qua tra ve
for row in cur: # fetch one
    print (row)

(13, 'Konbu', Decimal('659'))
(24, 'Guaraná Fantástica', Decimal('546'))
(60, 'Camembert Pierrot', Decimal('542'))
(59, 'Raclette Courdavault', Decimal('513'))
(7, "Uncle Bob's Organic Dried Pears", Decimal('414'))
(75, 'Rhönbräu Klosterbier', Decimal('405'))
(1, 'Chai', Decimal('399'))
(2, 'Chang', Decimal('396'))
(76, 'Lakkalikööri', Decimal('388'))
(21, "Sir Rodney's Scones", Decimal('351'))

In [6]:
cur

In [7]:
# Buoc 4: dong cursor, dong connection
cur.close()
conn.close()