### Ví dụ truyền tham số cho câu truy vấn

In [1]:
from mysql.connector import connect

In [2]:
# tạo connection
# tạo cursur de thuc hien cau truy van
# doc va xu ly ket qua tra ve
# dong cursor, dong connection

In [3]:
# Buoc 1: Tao connection
# chuan bi thong tin ket noi
server = 'phpmyadmin.laptrinhphp.net'
db = 'gd_salesdb'
username = 'hv'
pwd = '123456'

conn = connect(host=server, database=db, user=username, password=pwd)

In [4]:
# truyen tham so cho cot city va limit 
sql = 'select * from customers where city=%s limit %s'
data = ('London', 5)
cur = conn.cursor()
cur.execute(sql, data)

In [5]:
# Buoc 3: doc va xu ly ket qua tra ve
for row in cur: # fetch one
    print (row)

(4, 'Thomas', 'Hardy', 'London', 'UK', '(171) 555-7788')
(11, 'Victoria', 'Ashworth', 'London', 'UK', '(171) 555-1212')
(16, 'Elizabeth', 'Brown', 'London', 'UK', '(171) 555-2282')
(19, 'Ann', 'Devon', 'London', 'UK', '(171) 555-0297')
(53, 'Simon', 'Crowther', 'London', 'UK', '(171) 555-7733')

In [6]:
cur

In [7]:
# Buoc 4: dong cursor, dong connection
cur.close()
conn.close()