In [1]:
from mysql.connector import connect

In [15]:
# chuan bi thong tin ket noi MySQL
server ='localhost'
db = 'salesdb'
username = 'root'
pwd = ''

# ket noi MySQL
conn = connect(host=server, user=username, password=pwd)
cur = conn.cursor()

In [16]:
# tao database ten la "saledb"
sql = 'create database salesdb'
cur.execute(sql)

In [17]:
# ket noi database 'saledb'
conn = connect(host=server, database=db, user=username, password=pwd)
cur = conn.cursor()

In [18]:
sql = ''' create table customers (
            Id Int Not Null Primary Key,
            FirstName Varchar(40) Not Null,
            LastName Varchar(40) Not Null,
            City Varchar(40),
            Country Varchar(40),
            Phone Varchar(20)
        )'''
cur.execute(sql)

In [19]:
sql = ''' create table suppliers (
            Id Int Not Null Primary Key,
            CompanyName Varchar(40) Not Null,
            ContactName Varchar(50) Not Null,
            ContactTitle Varchar(40),
            City Varchar(40),
            Country Varchar(40),
            Phone Varchar(30),
            Fax Varchar(3)
        )'''
cur.execute(sql)

In [21]:
sql = ''' create table products (
            Id Int Not Null Primary Key,
            ProductName Varchar(50) Not Null,
            SupplierId Int Not Null,
            UnitPrice decimal,
            Package Varchar(30),
            IsDiscontinued Bit
        )'''
cur.execute(sql)

In [22]:
sql = ''' create table orders (
            Id Int Not Null Primary Key,
            OrderDate DateTime Not Null,
            OrderNumber Varchar(10) Not Null,
            CustomerId Int Not Null,
            TotalAmount Decimal
        )'''
cur.execute(sql)

In [24]:
sql = ''' create table orderitems (
            Id Int Not Null Primary Key,
            OrderId Int Not Null,
            ProductId Int Not Null,
            UnitPrice decimal,
            Quantity Int
        )'''
cur.execute(sql)